body {
    background-color:"C:\Users\MAYRA\Google Drive\HomeWork\Basic-Portfolio\assets\images\project_papper (1)\project_papper\project_papper_@2X.png";
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width:960px;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif

}

header {
    padding: 20px;
    margin-top: 20px;
    color:#777;
    background:#ebebeb;
    font-family: Georgia, 'Times New Roman', Times, serif


    
}

    
   
    

section {
    float: left;
    color:#777;
    background:#ebebeb;
    width: 63%;
    text-align:left;
    margin: 1%;


    
  

}
img { 
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    float: left;

    }


aside {
    float: right;
    color:#777;
    background:#ebebeb;
    margin: 1%;
    width: 33%;
    
    

   
}

   
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #777;
    background: #ebebeb;
    text-align: center;

    
   
  
}
.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }